<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %} - CRUD Carrinho</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <nav>
    <h1><a href="{{ url_for('index') }}">Lojinha do Douglas</a></h1>
    <ul>
      {% if g.user %}
        <li><span>Olá, {{ g.user['username'] }}</span></li>
        <li><a href="{{ url_for('shop.cart') }}">Meu Carrinho</a></li>
        <li><a href="{{ url_for('auth.logout') }}">Sair</a></li>
      {% else %}
        <li><a href="{{ url_for('auth.register') }}">Cadastrar</a></li>
        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
      {% endif %}
    </ul>
  </nav>

  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>

    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% block content %}{% endblock %}
  </section>
</body>
</html>